.reset {
    &__container {
        padding: 20px 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__button {
        display: block;
        margin: 0;
        outline: none;
        box-shadow: none;
        border: none;
    }
}