//Colours
// $primary-color: #F7EFB4;
// $primary-color-light: #FBF8E9;
// $secondary-color: #4a6789;
// $black: #1F1F1F;
// $white: #fff;
$primary-color: #CB0E65;
$dark-gray: #292929;
$light-gray: #323447;
$white: #fff;
$movie1-gradient: linear-gradient(45deg, rgba(249,186,48,1) 0%, rgba(248,94,163,1) 100%);
$movie2-gradient: linear-gradient(45deg, rgba(26,221,158,1) 0%, rgba(248,94,163,1) 100%);

// Fonts
$body-font: 'Lato', sans-serif;
$heading-font: 'Lalezar', cursive;
$global-weight-bold: 700;
$global-weight-black: 900;


// Properties
$global-border-radius: 6px;
